<h2>Users List</h2>

<p>The following people can use this site to create, edit and delete drumpads and sounds.</p>

<% @users.each do |user| %>
  <p>
    <strong> Name: </strong><%= user.name %>,<strong> Email: </strong><%= user.email %>
  </p>
<% end %>
