<h2>Drumpads List</h2>

<% @drumpads.each do |drumpad| %>
    <p>
      <%= link_to drumpad.name, drumpad_path(drumpad.id) %>
      <%= link_to "Edit", edit_drumpad_path(drumpad.id) %>
      <%= link_to "Delete", drumpad_path(drumpad.id), :method => "delete" %>
    </p>

<% end %>
