<h2>Sound List</h2>

<p>These are all the sounds that have been created for the Drum Machine app.</p>

<% @sounds.each do |sound| %>
    <p>
      <%= link_to sound.name, sound_path(sound.id) %>
    </p>

<% end %>
