<h2>Sound List</h2>

<p>These are all the sounds that have been created for the Drum Machine app.</p>

<p id="sound-list">
  <% @sounds.each do |sound| %>
    <%= link_to sound.name, sound_path(sound.id) %>
  <% end %>
</p>
